html {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_paige {
  font-family: "Lora", cursive;
  background-size: 60%;
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
  to right,
  #4bc0c8,
  #c779d0,
  #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
  to right,
  #4bc0c8,
  #c779d0,
  #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position:center;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
  object-fit: cover;
}
body {
  background: white;
  /* display: grid; */
  font-family: "Lora", "Times";
  font-size: 1.1rem;
  line-height: 1.4em;
  margin: 0;
  min-height: 100%;
  text-align: center;
}
h1 {
  color: black;
  font-family: "Abril Fatface", cursive;
  font-size: 70px;
  font-weight: normal;
  line-height: 1;
  margin: 0px 50px 0 50px;
  padding-top: 50px;
  text-align: left;
  text-transform: none;
}
h2 {
  font-family: "Lora", cursive;
  padding: 20px;
}
h3 {
  color: black;
  font-family: "Abril fatface", cursive;
  font-size: 25px;
  font-weight: normal;
  line-height: 2;
  margin: 0px 50px 0 50px;
  padding-top: 0px;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: black;
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  font-weight: normal;
  line-height: 2;
  margin-top: 30px;
  margin: 0px 50px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

/*----------INDEX----------*/
.navegacion{
  z-index: 1;
}
.rageQuit {
  color: black;
  font-family: "Abril Fatface" cursive;
  font-size: 5vw;
  left: 5%;
  /* position: absolute; */
  top: 10%;
}
.main{
  height: 87vh;
}
.main_img-container {
  /* margin-top: 210px; */
}
.main_img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.text-animation {
  border-right: 3.5px solid black;
  font-size: 180%;
  left: 85%;
  overflow: hidden;
  position: absolute;
  top: 36vw;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.text-animation {
  animation: typewriter 3s steps(22) 1s normal both,
  blinkCursor 700ms steps(22) infinite normal;
}

@keyframes typewriter {
  from {
  width: 0px;
  }
  to {
  width: 395px;
  }
}

@keyframes blinkCursor {
  from {
  border-right-color: black;
  }
  to {
  border-right-color: transparent;
  }
}

/*----------MENU----------*/

.header {
  background-color: transparent;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}
.header a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.logo-nav-container {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navegacion ul li {
  display: inline-block;
}
.navegacion ul li a {
  border-radius: 30px;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.navegacion ul li a:hover {
  background: #c779d0;
}

/*----------CONTAINER----------*/

.container {
  align-items: center;
  background-color: transparent;
  justify-content: center;
  margin: 0 auto;
  max-width: 850px;
  text-align: justify;
  top: auto;
  width: 80%;
}
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}
.container .container {
  align-items: center;
  background-color: transparent;
  justify-content: center;
  margin: 0 auto;
  max-width: 850px;
  text-align: justify;
  top: auto;
  width: 80%;
}
.container video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}
.container iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
figcaption {
  color: #555;
  font-size: 13px;
  margin-bottom: 30px;
  text-align: center;
}  
.container p {
  line-height: 20pt;
  white-space:pre-line;
}
iframe {
  margin-bottom: 30px;
  margin-top: 30px;
}
.splash-arrow-img {
  cursor: pointer;
  margin-top: 40%;
  position:absolute;
  width: 30px;
}
.splash-arrow-img2 {
  cursor: pointer;
  margin-top: 35.5%;
  position:absolute;
  width: 30px;
}
.icon{
  height: 25px;
}

/*----------REVIEWS----------*/

.rev__color{
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
  to right,
  #4bc0c8,
  #c779d0,
  #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
  to right,
  #4bc0c8,
  #c779d0,
  #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position:center;
}
.reviews__contain {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  padding: 4% 2%;
  width: 100%;
}
.reviews__contain img {
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
  width: 75%;
}
.card {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  flex: 1;
  line-height: 0;
  margin: 0 2%;
  overflow: hidden;
  transition: 0.9s;
}
.card:hover {
  flex: 1 1 45%;
  transition: 1s ease;
  width: 100%;
}
.card img:hover{
  flex: 1 1 95%;
  transition: 1s ease;
}
.img-fluid{
  height: 93vh;
  min-height: 400px;
  background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202011/0409/9kmtBsDqE5N8DSCw8aYadjVW.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid h1 {
  color: #fff;
  text-align: center;
  margin-left: auto;
}
.img-fluid2{
  height: 92vh;
  min-height: 400px;
  background-image: url('https://cdn.appuals.com/wp-content/uploads/2020/10/cyberpunk-2077-map-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid3{
  height: 92vh;
  min-height: 400px;
  background-image: url('https://image.api.playstation.com/vulcan/ap/rnd/202009/2123/e3ssIZOu5Ues8m0o7dZj5qet.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid4{
  height: 92vh;
  min-height: 400px;
  background-image: url('../img/TheLastOfUs2/wallpaper-10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid5{
  height: 92vh;
  min-height: 400px;
  background-image: url('https://cdn2.unrealengine.com/hades-banner-1920x1080-1920x1080-019724424.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid6{
  height: 92vh;
  min-height: 400px;
  background-image: url('../img/WatchDogsLeg/watchDogs__banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid7{
  height: 92vh;
  min-height: 400px;
  background-image: url('https://cdn.alfabetajuega.com/wp-content/uploads/2020/09/share.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.img-fluid8{
  height: 92vh;
  min-height: 400px;
  background-image: url('https://areajugones.sport.es/wp-content/uploads/2020/04/Ghost-of-Tsushima-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

/*----------NOTICIAS----------*/
.noti_paige{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background: -webkit-linear-gradient(
  to right,
  #a6c1ee,
  #fbc2eb,
  #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
  to right,
  #feac5e,
  #c779d0,
  #4bc0c883
  ); 
}
.band {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 1240px;
  width: 90%;
}

@media only screen and (min-width: 500px) {
  .band {
  grid-template-columns: 1fr 1fr;
  }
  .item-1 {
  grid-column: 1 / span 2;
  }
  .item-1 h1 {
  font-size: 30px;
  }
  .main_img{
    width: 60%;
  }
}

@media only screen and (min-width: 850px) {
  .band {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.cardd {
  background: rgba(255, 255, 255, 0.466);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in;
}

.cardd:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  top: -10px;
}

.cardd article {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
}
.cardd .thumb {
  background-position: center center;
  background-size: cover;
  padding-bottom: 60%;
}

.cardd p {
  font-size: 15px;
  color: #191919;
  flex: 1;
  line-height: 1.3;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

.cardd h2 {
  color: #333;
  font-size: 16px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.cardd span {
  color: #1919198a;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
  text-transform: uppercase;
}

/*----------NOSOTRAS----------*/

.bod-nosotras {
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../img/bbbbb.png);
  margin: 0;
  padding: 0;
}
.text {
  bottom: 10px;
  font-family: "Indie Flower";
  left: 55px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  position:absolute;
  right: 10px;
  top: 65px;
}
.text h3 {
  margin-left: 10px;
  margin-top: -11px;
}
.text p {
  font-size: 19.5px;
  margin-top: -11.5px;
  line-height:25px;
}
.paper {
  background: rgba(255, 255, 255, 0.973);
  box-shadow: 0px 0px 5px 0px rgb(59, 59, 59);
  height: 550px;
  left: 50%;
  margin: -275px -225px;
  position: absolute;
  top: 50%;
  width: 450px;
}
.paper::before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  height: 100%;
  left: 45px;
  position: absolute;
  width: 2px;
}
.lines {
  background-image: repeating-linear-gradient(
  white 0px,
  white 24px,
  steelblue 25px
  );
  height: calc(100% - 40px);
  margin-top: 40px;
  width: 100%;
}
.holes {
  background: linear-gradient(to right, #9af2f8, #ce76d8, #58d9e2);
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 0px #888;
  height: 25px;
  left: 10px;
  position: absolute;
  width: 25px;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

/*----------CONTACTO----------*/

.back-img {
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
  to right,
  #feac5e,
  #c779d0,
  #4bc0c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
  to right,
  #feac5e,
  #c779d0,
  #4bc0c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form {
  animation: float 6s ease-in-out infinite;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.123);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.123);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);

  padding: 10px 0;
  transform: translatey(0px);
}
@keyframes float {
  0% {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  }
  50% {
  box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  transform: translatey(-20px);
  }
  100% {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  }
}

.form {
  margin: 0;
  top: 10px;
  width: 100%;
}

form .grupo {
  margin: 60px;
  position: relative;
}
.circle {
  background: black;
  border-radius: 50%;
  height: 150px;
  position: absolute;
  width: 150px;
}

.circle1 {
  animation: float 4s ease-in-out alternate infinite;
  background: #4bc0c8;
  position: relative;
  right: 10%;
  top: 15%;
}

@keyframes circle1 {
  100% {
  top: 60px;
  }
}

.circle2 {
  animation: float 4s ease-in-out alternate infinite;
  background: #feac5e;
  bottom: -7%;
  right: 24%;
}

@keyframes circle2 {
  100% {
  bottom: 60px;
  }
}

input,
textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #1919193a;
  color: #000000;
  display: block;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  color: rgb(94, 93, 93);
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

label {
  color: black;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0s ease all;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
input:focus ~ .barra::before,
textarea:focus ~ .barra::before {
  width: 100%;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #feac5e,
    #c779d0,
    #4bc0c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.8s ease width;
  left: 0;
}

input:focus ~ .barra::before {
  width: 100%;
}

button {
  font-family: "Lora";
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c883,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #feac5e,
    #c779d0,
    #4bc0c883
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display: inline-block;
  width: 40%;
  margin: 10px auto;
  margin-left: 55px;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

/*----------FOOTER----------*/

.bottom {
  background-color: #191919;
  left: 0;
  /* position: relative; */
  /* top: 10px; */
  width: 100%;
  margin-top: 10px;
}
.bottom a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}
.logo-nav-container {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
}
.foot-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.foot-div ul li {
  display: inline-block;
}
.foot-div ul li a {
  border-radius: 30px;
  cursor:pointer;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.foot-div ul li a:hover {
  color: #c779d0;
}
.foot-div p{
  color: #464444;
}
.foot-div li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}
@keyframes wave-animation {
  0%,
  100% {
  transform: rotate(0deg);
  }
  25% {
  transform: rotate(20deg);
  }
  75% {
  transform: rotate(-15deg);
  }
}

/*----------MEDIA QUERIES----------*/

@media screen and (max-width: 1200px) 
{
  /*---HOME---*/
  .rageQuit{
    left: -3%;
    top: 5%;
  }
  .text-animation{
    font-size: 175%;
    left: 80%
  }
  .text-animation {
    animation: typewriter 3s steps(22) 1s normal both,
    blinkCursor 700ms steps(22) infinite normal;
  }
  /*---REVIEWS---*/
  .rev__color{
    background-repeat:repeat;
}
  .img-fluid,
  .img-fluid2,
  .img-fluid3,
  .img-fluid4,
  .img-fluid5,
  .img-fluid6,
  .img-fluid7,
  .img-fluid8{
    height: 90vh;
    min-height: 400px;
  }
  .splash-arrow-img2{
    margin-top: 60%;
  }
  /*CONTACTO*/
  .form {
    width: 80%;
    border-radius: 100px;
  }
  .circle2 {
    background: #feac5e;
    top: 90%;
    right: 20%;
    animation: float 4s ease-in-out alternate infinite;
  }
  button{
    margin-left: 40px;
  }
}
@media screen and (max-width: 900px){
  .text-animation {
    top: 62vw;
    left: 72%;
}
}
@media screen and (max-width: 768px){
  .text-animation {
    top: 100vw;
  }
  .main {
    height: 73vh;
  }
  .main_img-container {
    margin-top: 210px;
}
}
@media screen and (max-width:550px){
  .logo-nav-container {
    font-size: 1em;
  }
  .logo{
    display: none;
  }
  .logo-nav-container {
    justify-content: center;
  }
  .rev__color{
    background-repeat:repeat;
}
}
/*----------------------------------*/

  @media screen and (max-width: 600px) 
  {
  /*---HOME---*/
  .main_img-container{
    /* position: absolute;
    width: 145%;
    right: -20%;
    top: 25%; */
  }
  .rageQuit {
    left: 0;
    top: 0;
    font-size: 55px;
  }
  .text-animation{
    font-size: 170%;
    left: 65%
  }
  .text-animation {
    animation: typewriter 3s steps(22) 1s normal both,
    blinkCursor 700ms steps(22) infinite normal;
  }
  /*---MENU---*/
  .logo-nav-container {
    font-size: 0.8em;
  }
  .navegacion ul {
    margin: 13px;
  }
  /*---REVIEWS---*/
  /*----CONTACTO---*/
  .circle2 {
    top: 100%;
    right: 5%;
    }
  .form {
    width: 96%;
  }
  button {
    width: 30%;
    position: center;
    text-align: center;
    margin: 10px;
    margin-left: 57px;
    }
  /*---NOSOTRAS---*/
  .paper {
  position: absolute;
  height: 480px;
  width: 380px;
  background: rgba(255, 255, 255, 0.973);
  margin: -255px -215px;
  left: 54%;
  top: 55%;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  font-size: 13px;
  }
  .text p {
    margin-top: -19px;
    white-space:pre-line;
    font-size: 12.5px;
  }
  /*---FOOTER---*/
  .foot-div{
  font-size: 15px;
  }
  .bottom{
    /* top: 400px; */
    /* height: 10vh; */
  }
}

/*----------------------------------*/

  @media screen and (max-width: 450px)
  {
    h1{
      font-size: 50px;
    }
    /*---HOME---*/
    .main_img-container{
      margin-top: 70px;
      /* position: absolute;
      width: 200%;
      right: -50%;
      top: 35%; */
    }
    .main_img{
      width: 60%;
    }
    .rageQuit {
      left: 0;
      top: 8%;
      font-size: 60px;
      position: inherit;
      padding-top: 20px;
    }
    .text-animation{
      font-size: 170%;
      left: 50%;
      top: 80%;
    }
    @keyframes typewriter {
      from {
      width: 0px;
      }
      to {
        width: 277px;
      }
    }
  /*---MENU---*/
    .logo-nav-container {
      font-size: 0.7em;
    }
    .navegacion ul {
      margin: 5px;
      margin-top: 35px;
    }
    .logo{
      display: none;
    }
    /*---REVIEWS---*/
    .img-fluid,
    .img-fluid2,
    .img-fluid3,
    .img-fluid4,
    .img-fluid5,
    .img-fluid6,
    .img-fluid7,
    .img-fluid8{
    width: 450px;
    height: 90vh;
    min-height: 400px;
    background-size: cover;
  }
  .splash-arrow-img{
    margin-top: 90%;
  }
  .splash-arrow-img2{
    margin-top: 130%;
  }
  h4{
    font-size: 20px;
  }
  /*---CONTACTO*/
  form {
    width: 100%;
  }
  button{
    margin-left: 35%;
  }
  .circle2 {
    top: 95%;
    right: 5%;
    }
  /*---FOOTER---*/
  .bottom{
    /* top: 400px; */
    /* height: 10vh; */
  }
  .foot-div{
  font-size: 13px;
  }
  }
/*----------------------------------*/
  @media screen and (max-width: 390px) 
  {
  /*---HOME---*/
  .main{
    height: 85vh;
  }
  .main_img{
    width: 60%!important;
  }
  .rageQuit {
    left: 0;
    top: 2%;
    font-size: 40px;
  }
  .text-animation{
    font-size: 120%;
    left: 50%;
    top: 80%;
  }
  /*---MENU---*/
  .logo-nav-container {
    font-size: 0.4em;
  }
  .navegacion ul {
    margin-right: 0;
  }
  /*---REVIEWS---*/
  .splash-arrow-img2{
    margin-top: 190%;
  }
  .container{
    width: 55%;
    align-self: center;
  }
  .container p{
    font-size: 15px;
  }
  figcaption{
    font-size: 10px;
  }
  .container img {
    width: 105%;
  }
  .container video {
    width: 100%;
  }
  /*---NOSOTRAS---*/
  .paper {
    position: absolute;
    height: 480px;
    width: 290px;
    margin: -255px -215px;
    left: 71.4%;
    top: 55%;
    font-size: 13px;
    }
    .text p {
      font-size: 10px;
    }
    .text h3 {
      font-size: 20px;
      margin-top: -5px;
    }
  /*---CONTACTO---*/
  form {
    width: 155%;
    margin: -50px;
  }
  form h1{
    font-size: 40px;
  }
  button{
    margin-left: 35%;
  }
  .circle1{
    margin-top: 50%;
    bottom: 90%;
    right: 35%;
  }
  .circle2 {
    top: 95%;
    right: 3%;
    }
  }